/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  color: var(--main-text-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--card-text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page__logo {
  font-family: var(--accent-font, fantasy);
  font-size: var(--min-font-size);
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--content-width);
  margin: 97px 0 98px;
  border: var(--content-border);
  padding: clamp(120px, 10vw, 130px) 0;
  background-color: var(--content-bg-color);
}

.header__link {
  text-decoration: none;
}

.header__logo {
  font-size: clamp(49px, 7vw, 65px);
}

.header__title {
  font-family: var(--accent-font, fantasy);
  font-size: clamp(var(--min-font-size), 2vw, 23px);
  text-transform: uppercase;
  white-space: nowrap;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
}

.content_card {
  width: var(--content-width);
  border: var(--content-border);
  background-color: var(--content-bg-color);
}

.card__title {
  border-bottom: var(--content-border);
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--card-title-weight);
}

.img_and_label {
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 25px;
  opacity: 0.5;
  text-shadow: 
    1px 0 0 var(--content-bg-color), 
    0 1px 0 var(--content-bg-color), 
    -1px 0 0 var(--content-bg-color), 
    0 -1px 0 var(--content-bg-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--content-bg-color)) or (text-stroke: 1px var(--content-bg-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--content-bg-color);
    text-stroke: 1px var(--content-bg-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: right center;
}

.filter_brightness {
  filter: brightness(200%);
}

.filter_contrast {
  filter: contrast(20%);
}

.filter_blur {
  filter: blur(0.5rem);
}

.filter_opacity {
  filter: opacity(0.8);
}

.filter_grayscale {
  filter: grayscale(0.8);
}

.filter_saturate {
  filter: saturate(208%);
}

.filter_hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter_sepia-invert {
  filter: sepia(80%) invert(0.9);
}

.card__content_section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: var(--content-border);
  padding: 25px 25px 26px;
}

.card__text {
  padding: 0 1px 0 0;
  line-height: 1.17;
}

.content__button {
  position: relative;
  border: var(--content-border);
  overflow: hidden;
  color: var(--content-bg-color);
  background-color: var(--content-bg-color);
  transition: color 0.5s ease-in-out, box-shadow 0.3s ease;
  cursor: pointer;
}

.content__button .button__text,
.content__button svg {
  position: relative;
  z-index: 1;
  color: var(--content-bg-color);
  mix-blend-mode: difference;
}

.content__button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text-color);
  outline: none;
}

.content__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  pointer-events: none;
}

.content__button:hover::before {
  transform: translateX(0);
}

.icon_and_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-text-color);
}

.like-icon {
  width: 39px;
  height: 30px;
}

.heart_sparks {
  opacity: 0;
}

.card__like-button {
  width: 130px;
  padding: 6px 0;
}

.button__text {
  font-family: var(--accent-font, fantasy);
  font-size: var(--min-font-size);
}

.save-mem-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.save-mem-btn__icon {
  width: 21px;
  height: 21px;
  fill: var(--content-bg-color);
}

.page__dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  width: clamp(341px, 80vw, 353px);
  border: var(--content-border);
  padding: 30px;
}

.page__dialog:not([open]) {
  display: none;
  pointer-events: none;
}

.page__dialog::backdrop {
  opacity: 0.75;
  background-color: var(--main-text-color);
}

.dialog__close-button {
  width: 100%;
  border: var(--content-border);
  padding: 6px 0;
  text-align: center;
  background-color: var(--content-bg-color);
}

.dialog_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog__icon {
  width: 80px;
  height: 60px;
}

.dialog__text {
  line-height: 1.5;
  text-transform: uppercase;
}

@media (width <= 375px), (max-width: 376px) {
  .header {
    margin: 100px 0;
  }

  .save-mem-btn {
    flex-direction: column;
  }

  .save-mem-btn__icon {
    width: 28px;
    height: 28px;
  }

  .page__dialog {
    padding: 30px 40px;
  }

  .dialog__icon {
    width: 92px;
  }
}
