/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --main-font-size: 18px;
  --accent-font: 'PressStart2P-Regular';
  --card-title-weight: 715;
  --card-text-weight: 410;  
}